apiVersion: v1
kind: Service
metadata:
  name: cs2-skin-ai
spec:
  type: NodePort
  selector:
    app: cs2-skin-ai
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8000
      nodePort: 30080
